.body{
    background-color:white;
    height: 510px;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    text-align: center;
    max-width: 320px;
  }
/* button {
    background-color: rgb(201, 195, 19);
    align-items: center;
    color: black;
    padding: 14px 20px;
    margin: 2000px 10000000px 0px 10px ;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
} */
.btn1{
    background-color: rgb(174, 169, 11);
    /* align-items: center; */
    color: black;
    padding: 14px 14px;
    margin-left: 10px;
    /* margin: 100px 300px 0px 450px; */
    /* text-align: center; */
    /* border: none; */
    cursor: pointer;
    /* width: 10%; */
    opacity: 0.9;
    font-size: x-large;
}
/* .btn2{
    background-color: rgb(174, 169, 11);;
    align-items: center;
    color: black;
    padding: 14px 20px;
    margin: 100px 1px 40px 180px;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
} */
.postButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
button:hover {
 opacity:1;
}
input.topButtons {
 width: 90px;
 padding: 10px;
 cursor: pointer;
 font-weight: 500;
 font-size: 90%;
 background: #0000ff;
 color: #fff;
 float: right;                  
 
 margin: 10px 10px 0px 0px;
 font-family: Arial, Helvetica, sans-serif;
}

.logo-title {
font-family: 'Satisfy', cursive;
font-size: 50px;
color: #112fb4;
margin: auto;
text-decoration: none;
margin: 10px 10px 0px 10px;    
}
h1{
    text-align: center;
    font-family: 'Abel', sans-serif;
}
.middleText{
    font-family: 'Marck Script', cursive;
    margin-top: 0;
    margin: 0 0 0px 10px;
    }
    /* <style> */
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
} */

/* Set a style for all buttons */
button12 {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button12:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  /* background-color: green; */
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  align-content: center;
  align-self: center;
  margin: auto;
  font-size: 20px;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  /* .cancelbtn,*/ .signupbtn { 
      /* background-color: green; */
     width: 100%;
  }
}

.signIn{
  float: left;
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  align-content: center;
  align-self: center;
  margin: auto;
  font-size: 20px;

}


.modal-content2 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

The Close Button
.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 
#content
{
  height: 300px;
  width: 1095px;
}
 #title1{
  width: 400px;
} 
 #sub2
{
  background-color: #0ec038;
  color: white;
  text-align: center;
  position: relative;
  padding: 15px;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
} 
input.topButtons {
    width: 90px;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 90%;
    background: #0000ff;
    color: #fff;
    float: right;                  
    
    margin: 10px 10px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
   }
   .blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-align: center;
}
.blogText {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.blogAuthor {
    padding: 0px 0px 0px 10px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
    display: flex;
	justify-content: space-between;
}
.blogContent{

}
#edit{
	display: flex;
	justify-content: space-around;
	text-decoration: none;
	color: white;
	font-family: serif;
	font-size: 19px;
	border: 1px solid pink;
	height: 30px;
	width: 75px;
	background-color: deeppink;
	text-align: center;
	padding-top: 6px;
}
 #commentBox button{
	height: 35px;
	width: 95px;
	margin-top: 5px;
	background-color: deeppink;
	border: 0px;
	color: white;
	font-weight: bold;
	margin-bottom: 15px;
}
/* Set a style for all the remaining elements like Like button, Edit button, Comment button and so on. */

